numpy
pandas
scikit-learn
flask
mlflow
joblib
lime
fluent-logger
bokeh
arrow
wickedhot
boto3
protobuf

# Testing Dependencies
requests-mock
flake8
flake8-print
autopep8
snakeviz
pytest
pytest-cov

coverage
